@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-green: #bcfd4c;
  --foreground: #6e6e6e;
  --background: #3e3e3e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  color: #fff;
  height: 100%;
}
